---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout titulo="Agenda de Contatos">
    <section class="row mt-4">
        <div class="col-12">
            <h1 class="display-6">Agenda de Contatos</h1>
            <form class="card bg-body-secondary rounded mb-3">
                <div class="row g-2 card-body">
                    <div class="col-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="nomeContato"
                            placeholder="Nome do Contato"
                        />
                        <label for="nomeContato" class="form-label"
                            >Nome do Contato</label
                        >
                    </div><!--col -->
                    <div class="col-2">
                        <button
                            class="btn btn-primary w-100 h-100"
                            id="btnBuscar"
                            type="submit">Buscar</button
                        >
                    </div><!--col -->
                </div><!--row -->
            </form><!--card -->
            <ul class="list-group" id="contatos">

            </ul>
        </div>
    </section>

    <script>
        //@ts-nocheck
        async function buscarContatos(){
            const url = "https://randomuser.me/api/?results=15&nat=br"
            
        }

        async function listarContatos(){
             const contatos = []

             const contatosHTML = contatos.map(function(contato){
               // 1 - criar um elemento li
               // 2 - atribuir as classes do bootstrap
               // 3 - adicionar no innerHTML a estrutura interpolando os valores em uma
               // template string
               // 4- retornar o elemento li 

             })
             contatosHTML.forEach(function(contato){
                // fazer o appendChild de cada contato na UL contatos
             })
        }

        // chamar a função listarContatos()
    </script>
</BaseLayout>
