<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Desenvolvimento Web Dinâmico</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/"
                    >Desenvolvimento Web Dinâmico</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle text-light"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                            Lista de Exercícios 3
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/cadastro-cliente">Ex 01 - Cadastro de Clientes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/buscador-perfil">Ex 02 - Buscador de Perfil Github</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
            <section class="row mt-4 justify-content-center">
                <div class="col-8">
                    <h1 class="display-6 text-primary">Cadastro de Clientes</h1>
                    <form class="container">
                        <div class="row g-2">
                            <div class="form-floating col-12">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="nome"
                                    name="nome"
                                    placeholder="nome"
                                />
                                <label for="nome" class="form-label">Nome</label
                                >
                            </div>
                        </div><!-- row -->
                        <div class="row g-2 mt-2">
                            <div class="form-floating col-2">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="cep"
                                    name="cep"
                                    placeholder="cep"
                                />
                                <label for="cep" class="form-label">CEP</label>
                            </div>
                            <div class="form-floating col-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="logradouro"
                                    name="logradouro"
                                    placeholder="logradouro"
                                />
                                <label for="nome" class="form-label"
                                    >Logradouro</label
                                >
                            </div>
                            <div class="form-floating col-2">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="numero"
                                    name="logradouro"
                                    placeholder="numero"
                                />
                                <label for="nome" class="form-label"
                                    >Número</label
                                >
                            </div>
                        </div><!--row -->
                        <div class="row g-2 mt-2">
                            <div class="form-floating col-4">
                                <select
                                    name="cidade"
                                    id="cidade"
                                    class="form-select"
                                >
                                    <option value="-1">Selecione</option>
                                </select>
                                <label for="cidade" class="form-label">
                                    Cidade
                                </label>
                            </div><!--col -->
                            <div class="form-floating col-4">
                                <select
                                    name="estado"
                                    id="estado"
                                    class="form-select"
                                >
                                    <option value="-1">Selecione</option>
                                </select>
                                <label for="estado" class="form-label">
                                    Estado
                                </label>
                            </div>
                        </div><!--row -->
                        <div class="row mt-2 g-2">
                            <div class="col-2">
                                <button class="btn btn-primary w-100" type="button">Salvar</button>
                            </div>
                        </div>
                    </form>
                   
                </div>
            </section>
        </main>
        <script src="../js/libs.js"></script>
        <script>
            //@ts-nocheck
            const inputCep = document.querySelector("#cep")
            const inputLogradouro =
                document.querySelector("#logradouro")

            inputCep.onblur = () => {
                consultarEndereco(inputCep.value)
            }
            async function consultarEndereco(cep) {
                let response = await fetch(
                    `https://viacep.com.br/ws/${cep}/json/`
                )
                let dados = await response.json()
                inputLogradouro.value = dados.logradouro
            }
        </script>
    </body>
</html>
