---
  import BaseLayout from '../layouts/BaseLayout.astro' 
---
<BaseLayout titulo="Página Inicial">
    <section class="row mt-4">
        <div class="col-4">
            <div class="card">
                <header class="card-header text-bg-primary">
                    <h5 class="card-title">Cadastro de Clientes</h5>
                </header>
                <div class="card-body">
                    <p class="card-text">
                        Atividade de Exemplo utilizando a API VIA CEP para
                        preenchimento automático de endereço.
                    </p>
                    <a href="/cadastro-cliente" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
