<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Desenvolvimento Web Dinâmico</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="/"
                    >Desenvolvimento Web Dinâmico</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle text-light"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                            Lista de Exercícios 3
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/cadastro-cliente">Ex 01 - Cadastro de Clientes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
            <section class="row mt-4">
                <div class="col-4">
                    <div class="card">
                        <header class="card-header text-bg-primary">
                            <h5 class="card-title">Cadastro de Clientes</h5>
                        </header>
                        <div class="card-body">
                            <p class="card-text">
                                Atividade de Exemplo utilizando a API VIA CEP
                                para preenchimento automático de endereço.
                            </p>
                            <a href="/cadastro-cliente" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                </div>
            </section>
            <script src="../js/libs.js"></script>
        </main>
    </body>
</html>